<!DOCTYPE html>
<html>
<head>
  <title>Employees</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h2>Employees</h2>
  <a href="/employees/add">Add Employee</a> | <a href="/logout">Logout</a>
  <table border="1">
    <tr>
      <th>EmpID</th><th>Name</th><th>Email</th><th>Salary</th><th>Actions</th>
    </tr>
    <% employees.forEach(emp => { %>
      <tr>
        <td><%= emp.empid %></td>
        <td><%= emp.name %></td>
        <td><%= emp.email %></td>
        <td><%= emp.salary %></td>
        <td>
          <a href="/employees/edit/<%= emp._id %>">Edit</a> |
          <a href="/employees/delete/<%= emp._id %>">Delete</a>
        </td>
      </tr>
    <% }) %>
  </table>
</body>
</html>
